<!-- templates/create_device.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Device</title>
</head>
<body>
    <h1>Create a New Device</h1>
    <form method="POST">
        {% csrf_token %}
        
        <h2>Device Details</h2>
        {{ device_form.as_p }}  <!-- Отображаем форму устройства -->

        <h2>Device Permissions</h2>
        {{ permission_form.as_p }}  <!-- Отображаем форму разрешений -->

        <button type="submit">Create Device</button>
    </form>
</body>
</html>

