<!-- templates/device_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device List</title>
</head>
<body>
    <h1>Device List</h1>
    <ul>
        {% for device in devices %}
            <li>{{ device.device_name }} - {{ device.dev_eui }} - {{ device.location }}
                <a href="{% url 'create_device' %}">Edit</a>  <!-- Ссылка на редактирование -->
            </li>
        {% endfor %}
    </ul>
</body>
</html>
