{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <!-- Подключение стилей для duallistbox -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.css' %}">
{% endblock %}

{% block after_field_sets %}
    <!-- Подключение скриптов для duallistbox -->
    <script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Активируем duallistbox
            $('.duallistbox').bootstrapDualListbox({
                nonSelectedListLabel: 'Доступные устройства',
                selectedListLabel: 'Выбранные устройства',
                moveOnSelect: false,
                filterTextClear: "Показать все",
                infoText: "Показано {0}",
                infoTextEmpty: "Список пуст",
                infoTextFiltered: "<span class='badge badge-warning'>Отфильтровано</span> {0} из {1}"
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>{% if original %}Изменить группу{% else %}Добавить группу{% endif %}</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ adminform.as_p }}
        <div class="submit-row">
            <input type="submit" value="Сохранить" class="default" name="_save">
        </div>
    </form>
{% endblock %}
